{% extends 'movie/base.html' %}
{% block title %}
<title>Tv</title>
{% endblock %}
{% block content %}
    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
    {% endif %}

    <div class="mb-5 fwidth">
        <div class="border p-3"><strong>Popular series</strong></div>
        <div class="border p-3 movie_con_a">
            <span class="scroll_left"><i>ss</i></span>
            <span class="scroll_right"><i>ss</i></span>
            <div class="movie_con">
                {% with img="https://image.tmdb.org/t/p/w500" %}
                {% for movie in pseries %}

                <a href="{% url 'tv:detail' movie.id %}">
                    <span class="firstspan">{{ movie.vote_average }}</span>
                    <img src="{{ img }}{{ movie.poster_path }}">
                    <span>{{ movie.name }}</span>
                    <span class="ribbon"><span class="lastspan">bluray</span></span>
                </a>
                {% endfor %}
                {% endwith %}
            </div>
        </div>
    </div>
    <div class="mb-5 fwidth">
        <div class="border p-3"><strong>Top rated series</strong></div>
        <div class="border p-3 movie_con_a">
            <span class="scroll_left"><i>ss</i></span>
            <span class="scroll_right"><i>ss</i></span>
            <div class="movie_con">
                {% with img="https://image.tmdb.org/t/p/w500" %}
                {% for movie in rseries %}

                <a href="{% url 'tv:detail' movie.id %}">
                    <span class="firstspan">{{ movie.vote_average }}</span>
                    <img src="{{ img }}{{ movie.poster_path }}">
                    <span>{{ movie.name }}</span>
                    <span class="ribbon"><span class="lastspan">bluray</span></span>
                </a>
                {% endfor %}
                {% endwith %}
            </div>
        </div>
    </div>
    <div class="mb-5 fwidth">
        <div class="border p-3"><strong>Now playing series</strong></div>
        <div class="border p-3 movie_con_a">
            <span class="scroll_left"><i>ss</i></span>
            <span class="scroll_right"><i>ss</i></span>
            <div class="movie_con">
                {% with img="https://image.tmdb.org/t/p/w500" %}
                {% for movie in nseries %}
                <a href="{% url 'tv:detail' movie.id %}">
                    <span class="firstspan">7.8</span>
                    <img src="{{ img }}{{ movie.poster_path }}">
                    <span>{{ movie.name }}</span>
                    <span class="ribbon"><span class="lastspan">bluray</span></span>
                </a>
                {% endfor %}
                {% endwith %}
            </div>
        </div>
    </div>
    <div class="mb-5 fwidth">
        <div class="border p-3"><strong>nothing series</strong></div>
        <div class="border p-3 movie_con_a">
            <span class="scroll_left"><i>ss</i></span>
            <span class="scroll_right"><i>ss</i></span>
            <div class="movie_con">
                {% with img="https://image.tmdb.org/t/p/w500" %}
                {% for movie in nseries %}
                <a href="{% url 'tv:detail' movie.id %}">
                    <span class="firstspan">7.8</span>
                    <img src="{{ img }}{{ movie.poster_path }}">
                    <span>{{ movie.name }}</span>
                    <span class="ribbon"><span class="lastspan">bluray</span></span>
                </a>
                {% endfor %}
                {% endwith %}
            </div>
        </div>
    </div>
{% endblock %}